GITCONFIG="[user]
	name = $USERNAME
	email = $EMAIL
[core]
	editor = /Applications/Emacs.app/Contents/MacOS/Emacs-x86_64-10_9 --no-desktop -q --load ~/.emacs.conf/emacs-git.el
	excludefile = $HOME/.gitignore_global
	autocrlf = false
	excludesfile = $HOME/.gitignore_global
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	graph = log --oneline --decorate --graph
	graph-all = log --oneline --decorate --graph --all
[credential]
	helper = cache
[push]
	default = simple
[magit]
	hideCampaign = true"